In [1]:
import pandas as pd
import numpy as np
import string
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, LSTM
from sklearn import model_selection
from sklearn.metrics import accuracy_score, f1_score, roc_curve, auc

/Users/Young/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
# Date collection functions.
def convert_to_bag_of_words(text):
    list_of_letters = list(text)
    word = ''
    dictionary = dict()
    letters_list = list(string.ascii_letters)

    for i in range(len(list_of_letters)):
        if list_of_letters[i] in letters_list:
            word = word + list_of_letters[i]
        else:
            if word != 'I':
                word = word.lower()
            if word not in dictionary and word != '':
                dictionary[word] = 1
            elif word != '':
                dictionary[word] += 1
            word = ''
    return dictionary

def merge(a, b):
    for x in b.keys():
        if x in a.keys():
            a[x] = a[x] + b[x]
        else:
            a[x] = b[x]
    return a

def f(df, col_1, col_2):
    a = list(df[col_1])
    b = list(set(a))
    for x in b:
        a.remove(x)
    c = list(set(a))
    for j in c:
        a = list(df.loc[df[col_1] == j][col_2])

        for i in range(len(a)):
            if i != 0:
                a[0] = merge(a[0], a[i])

        d = list(df.loc[df[col_1] == j].index)

        for x in d:
            if d.index(x) != 0:
                df.drop(x, inplace=True)

def clean(c):
    d = list(c.values())
    limit = max(d) * 0.05

    dead_list = []

    for x in c.items():
        if x[1] <= limit:
            dead_list.append(x[0])

    for x in dead_list:
        c.pop(x)

In [3]:
# RNN type feature shaping functions.

# Convert all the text to a list of words.
def convert_to_list_of_words(text):
    list_of_letters = list(text)
    word = ''
    word_list = []
    letters_list = list(string.ascii_letters)

    for i in range(len(list_of_letters)):
        if list_of_letters[i] in letters_list:
            word = word + list_of_letters[i]
        else:
            if word != 'I':
                word = word.lower()
            if word != '':
                word_list.append(word)
            word = ''
    return word_list

# Construct the matrix for one text.
def convert_to_matrix(max_lenght, word_list, sentence):
    s = convert_to_list_of_words(sentence)
    b = word_list
    line = list(np.zeros((max_lenght+1), dtype=int))
        
    matrix = []
    for check in word_list:
        defualt_line = line[:]
        for index in range(0,len(s)):
            if check == s[index]:
                defualt_line[index] = 1
        matrix.append(defualt_line)
    return matrix

# Find the max length.
def find_max_length(text_list):
    max_lenght = 0
    for item in text_list:
        words = convert_to_list_of_words(item)
        lenght = len(words)
        if lenght > max_lenght:
            max_lenght = lenght
    return max_lenght

# Main function.
def create_RNN_feature(df, word_list):
    feature = []
    text_list = np.array(df['TEXT'])
    max_lenght = find_max_length(text_list)
    
    for item in list(df['TEXT']):
        m = convert_to_matrix(max_lenght, word_list, item)
        feature.append(m)
    return feature

In [4]:
# Load noteevents data.
df = pd.read_csv('NOTEEVENTS.csv', nrows=4000)
df.drop(columns=[
    'ROW_ID',
    'CHARTTIME',
    'CHARTDATE',
    'STORETIME',
    'CATEGORY',
    'DESCRIPTION',
    'CGID',
    'ISERROR'], inplace=True)
print('Finish loading', len(df.index), 'lines of NOTEEVENTS data.')

Finish loading 4000 lines of NOTEEVENTS data.

In [5]:
# Problem: So slow...
# Convert notes to bag of words (very slow)...
bag_of_words = []

for i in range(len(df.TEXT)):
    bag_of_words.append(convert_to_bag_of_words(df.TEXT[i]))

df['bag_of_words'] = bag_of_words
f(df, 'HADM_ID', 'bag_of_words')
print('Converting to bag of words, finished.')
print('\n')
print(df)

Converting to bag of words, finished.


      SUBJECT_ID  HADM_ID                                               TEXT  \
0          22532   167853  Admission Date:  [**2151-7-16**]       Dischar...
1          13702   107527  Admission Date:  [**2118-6-2**]       Discharg...
2          13702   167118  Admission Date:  [**2119-5-4**]              D...
3          13702   196489  Admission Date:  [**2124-7-21**]              ...
4          26880   135453  Admission Date:  [**2162-3-3**]              D...
5          53181   170490  Admission Date:  [**2172-3-5**]              D...
6          20646   134727  Admission Date:  [**2112-12-8**]              ...
7          42130   114236  Admission Date:  [**2150-2-25**]              ...
8          56174   163469  Admission Date:  [**2118-8-10**]              ...
9          56174   189681  Admission Date:  [**2118-12-7**]              ...
10         28063   121936  Admission Date:  [**2125-2-9**]              D...
11          1136   139574  Admission Date:  [**2192-4-19**]              ...
12          5350   169684  Admission Date:  [**2143-4-25**]     Discharge...
14         11369   121504  Admission Date:  [**2199-2-8**]     Discharge ...
15         11369   103786  Admission Date:  [**2203-11-3**]              ...
16         10044   124073  Admission Date:  [**2152-10-2**]       Dischar...
17         79900   120644  Admission Date:  [**2194-7-18**]              ...
18         79900   128319  Admission Date:  [**2195-4-14**]              ...
19          9805   188132  Admission Date:  [**2130-2-3**]              D...
20          9805   177212  Admission Date:  [**2131-6-28**]              ...
22         99091   185274  Admission Date:  [**2190-2-11**]              ...
23         70108   186093  Admission Date:  [**2105-4-16**]              ...
24         19631   185175  Admission Date:  [**2198-4-23**]              ...
25         26601   116471  Admission Date:  [**2127-7-21**]              ...
26         26601   155131  Admission Date:  [**2131-12-23**]             ...
27          5136   151912  Admission Date: [**2189-12-1**]        Dischar...
28         24424   146533  Admission Date:  [**2188-5-9**]              D...
29         27051   113012  Admission Date:  [**2194-1-7**]              D...
30         22663   187885  Admission Date:  [**2165-9-23**]     Discharge...
31         22663   140246  Admission Date:  [**2170-9-1**]              D...
...          ...      ...                                                ...
3968       87266   122187  Admission Date:  [**2151-1-8**]       Discharg...
3969       74260   159409  Admission Date:  [**2134-12-5**]              ...
3970       26767   180702  Admission Date:  [**2193-3-16**]              ...
3971       25070   160586  Admission Date:  [**2186-4-25**]     Discharge...
3972       25070   129434  Admission Date: [**2186-6-8**]        Discharg...
3973       29723   186934  Admission Date:  [**2192-8-25**]              ...
3974       57632   130941  Admission Date:  [**2176-12-22**]             ...
3975       18182   119847  Admission Date:  [**2135-5-2**]     Discharge ...
3976       12769   158658  Admission Date:  [**2149-12-25**]     Discharg...
3977       12769   193014  Admission Date:  [**2150-12-28**]             ...
3978       21613   184435  Admission Date:  [**2196-8-8**]              D...
3979       21613   163881  Admission Date:  [**2196-8-24**]              ...
3980       21613   191356  Admission Date:  [**2197-3-29**]              ...
3981       21613   180503  Admission Date:  [**2199-2-18**]              ...
3982       11529   105689  Admission Date:  [**2125-2-27**]     Discharge...
3983         993   148558  Admission Date:  [**2101-1-7**]              D...
3984         808   158423  Admission Date:  [**2181-12-2**]              ...
3985       45229   189899  Admission Date:  [**2185-2-22**]              ...
3986       26695   178368  Admission Date:  [**2177-7-2**]     Discharge ...
3987       18217   158646  Admission Date:  [**2117-1-28**]              ...
3989       12028   166371  Admission Date:  [**2109-8-18**]              ...
3990       12028   190525  Admission Date:  [**2110-4-28**]              ...
3991        4985   120917  Admission Date:  [**2107-12-29**]             ...
3992       11805   169311  Admission Date:  [**2106-4-2**]       Discharg...
3994       17001   165430  Admission Date:  [**2140-11-28**]       Discha...
3995       16789   126298  Admission Date:  [**2187-9-18**]              ...
3996        7415   142869  Admission Date:  [**2189-1-16**]              ...
3997       56819   197776  Admission Date:  [**2160-7-11**]              ...
3998       32049   168588  Admission Date:  [**2112-9-29**]              ...
3999       10955   119739  Admission Date:  [**2145-11-11**]             ...

                                           bag_of_words
0     {'admission': 5, 'date': 5, 'discharge': 11, '...
1     {'admission': 5, 'date': 3, 'discharge': 5, 'o...
2     {'admission': 3, 'date': 4, 'discharge': 6, 's...
3     {'admission': 3, 'date': 2, 'discharge': 8, 's...
4     {'admission': 3, 'date': 3, 'discharge': 7, 'o...
5     {'admission': 2, 'date': 4, 'discharge': 7, 'o...
6     {'admission': 4, 'date': 2, 'discharge': 7, 's...
7     {'admission': 2, 'date': 3, 'discharge': 10, '...
8     {'admission': 3, 'date': 3, 'discharge': 8, 'o...
9     {'admission': 3, 'date': 5, 'discharge': 8, 'o...
10    {'admission': 4, 'date': 2, 'discharge': 6, 's...
11    {'admission': 9, 'date': 2, 'discharge': 12, '...
12    {'admission': 4, 'date': 6, 'discharge': 12, '...
14    {'admission': 6, 'date': 4, 'discharge': 6, 'o...
15    {'admission': 13, 'date': 3, 'discharge': 7, '...
16    {'admission': 3, 'date': 2, 'discharge': 7, 's...
17    {'admission': 10, 'date': 4, 'discharge': 12, ...
18    {'admission': 7, 'date': 3, 'discharge': 8, 'o...
19    {'admission': 2, 'date': 4, 'discharge': 8, 'o...
20    {'admission': 13, 'date': 9, 'discharge': 15, ...
22    {'admission': 4, 'date': 4, 'discharge': 11, '...
23    {'admission': 6, 'date': 4, 'discharge': 9, 'o...
24    {'admission': 5, 'date': 6, 'discharge': 6, 'o...
25    {'admission': 4, 'date': 2, 'discharge': 7, 's...
26    {'admission': 19, 'date': 5, 'discharge': 13, ...
27    {'admission': 3, 'date': 3, 'discharge': 3, 'o...
28    {'admission': 2, 'date': 5, 'discharge': 9, 'o...
29    {'admission': 11, 'date': 2, 'discharge': 6, '...
30    {'admission': 3, 'date': 3, 'discharge': 4, 'o...
31    {'admission': 6, 'date': 5, 'discharge': 6, 'o...
...                                                 ...
3968  {'admission': 5, 'date': 3, 'discharge': 2, 'o...
3969  {'admission': 4, 'date': 5, 'discharge': 7, 'o...
3970  {'admission': 3, 'date': 3, 'discharge': 9, 's...
3971  {'admission': 9, 'date': 3, 'discharge': 11, '...
3972  {'admission': 5, 'date': 3, 'discharge': 8, 'o...
3973  {'admission': 3, 'date': 6, 'discharge': 7, 'o...
3974  {'admission': 3, 'date': 3, 'discharge': 9, 'o...
3975  {'admission': 2, 'date': 3, 'discharge': 6, 'o...
3976  {'admission': 2, 'date': 3, 'discharge': 7, 'o...
3977  {'admission': 2, 'date': 4, 'discharge': 7, 'o...
3978  {'admission': 2, 'date': 8, 'discharge': 10, '...
3979  {'admission': 5, 'date': 6, 'discharge': 8, 'o...
3980  {'admission': 5, 'date': 8, 'discharge': 7, 'o...
3981  {'admission': 5, 'date': 4, 'discharge': 8, 'o...
3982  {'admission': 3, 'date': 3, 'discharge': 7, 'o...
3983  {'admission': 3, 'date': 4, 'discharge': 7, 'o...
3984  {'admission': 4, 'date': 5, 'discharge': 8, 'o...
3985  {'admission': 6, 'date': 4, 'discharge': 10, '...
3986  {'admission': 4, 'date': 3, 'discharge': 7, 'o...
3987  {'admission': 3, 'date': 9, 'discharge': 7, 'o...
3989  {'admission': 3, 'date': 8, 'month': 1, 'day':...
3990  {'admission': 2, 'date': 3, 'month': 9, 'day':...
3991  {'admission': 3, 'date': 3, 'discharge': 8, 'o...
3992  {'admission': 3, 'date': 6, 'discharge': 8, 'o...
3994  {'admission': 3, 'date': 2, 'discharge': 6, 's...
3995  {'admission': 2, 'date': 2, 'discharge': 7, 's...
3996  {'admission': 5, 'date': 6, 'discharge': 9, 'o...
3997  {'admission': 5, 'date': 3, 'discharge': 8, 'o...
3998  {'admission': 2, 'date': 4, 'discharge': 10, '...
3999  {'admission': 4, 'date': 3, 'discharge': 5, 'o...

[3804 rows x 4 columns]

In [6]:
# Load admissions data.
df1 = pd.read_csv('ADMISSIONS.csv', nrows=4000)
df1.drop(columns=['ROW_ID', 'ADMITTIME', 'DISCHTIME',
       'DEATHTIME', 'ADMISSION_TYPE', 'ADMISSION_LOCATION',
       'DISCHARGE_LOCATION', 'INSURANCE', 'LANGUAGE', 'RELIGION',
       'MARITAL_STATUS', 'ETHNICITY', 'EDREGTIME', 'EDOUTTIME', 'DIAGNOSIS',
        'HAS_CHARTEVENTS_DATA'], inplace=True)
df1.dropna(inplace=True)
print('Finish loading', len(df1.index), 'lines of Admissions data.')

Finish loading 4000 lines of Admissions data.

In [7]:
# Check how many data match.
check = df1['HADM_ID'].tolist()
good_data = []

for HI in df['HADM_ID']:
    if HI in check:
        good_data.append(HI)

print('Totally', len(good_data), 'data match!')

Totally 278 data match!

In [8]:
# Filter matched data for admission (relatively slow).
for HI in df1['HADM_ID']:
    if HI not in good_data:
         df1.drop(df1.loc[df1['HADM_ID'] == HI].index, inplace=True)
df1.set_index('HADM_ID', inplace=True)
df1.sort_index(inplace=True)
df1.drop(columns=['SUBJECT_ID'], inplace=True)
df1

         HOSPITAL_EXPIRE_FLAG
HADM_ID
100195                      0
100536                      0
100677                      0
100680                      0
100863                      0
101061                      0
102076                      0
102248                      0
102365                      0
102486                      0
103089                      0
103303                      0
103378                      1
103682                      0
103734                      0
105466                      0
105643                      0
106019                      0
106238                      0
106832                      0
106893                      0
106895                      0
107027                      0
107825                      0
107952                      0
108205                      0
108569                      0
108638                      0
109367                      0
109401                      0
...                       ...
192317                      0
192349                      0
192358                      0
192910                      0
193058                      0
193338                      1
193952                      0
194013                      0
194252                      0
194598                      0
195124                      0
195175                      0
195392                      1
195632                      0
196363                      0
196595                      0
196991                      0
197129                      0
197130                      0
197189                      0
197430                      0
197438                      0
197617                      1
198231                      0
198266                      0
198608                      0
198612                      0
199018                      0
199163                      0
199574                      0

[278 rows x 1 columns]

In [9]:
# Filter matched data for noteevents (relatively slow).
for HI in df['HADM_ID']:
    if HI not in good_data:
         df.drop(df.loc[df['HADM_ID'] == HI].index, inplace=True)
df.set_index('HADM_ID', inplace=True)
df.sort_index(inplace=True)
df

,SUBJECT_ID,TEXT,bag_of_words
HADM_ID,,,
100195,2489,Admission Date: [**2143-8-23**] Dischar...,"{'admission': 1, 'date': 3, 'discharge': 5, 'o..."
100536,78,Admission Date: [**2177-2-14**] Dischar...,"{'admission': 17, 'date': 5, 'discharge': 11, ..."
100677,808,Admission Date: [**2181-7-12**] ...,"{'admission': 5, 'date': 6, 'discharge': 6, 'o..."
100680,2939,Admission Date: [**2181-10-4**] Discharge...,"{'admission': 8, 'date': 4, 'discharge': 13, '..."
100863,797,Admission Date: [**2139-8-24**] ...,"{'admission': 4, 'date': 4, 'discharge': 9, 'o..."
101061,1578,Admission Date: [**2139-5-18**] ...,"{'admission': 2, 'date': 3, 'discharge': 8, 'o..."
102076,1749,Admission Date: [**2133-1-12**] Dischar...,"{'admission': 2, 'date': 3, 'discharge': 1, 'o..."
102248,3325,Admission Date: [**2159-8-14**] Discharge...,"{'admission': 4, 'date': 6, 'discharge': 9, 'o..."
102365,878,Admission Date: [**2137-10-7**] ...,"{'admission': 3, 'date': 6, 'discharge': 19, '..."
102486,2378,Admission Date: [**2141-7-18**] ...,"{'admission': 5, 'date': 6, 'discharge': 13, '..."
103089,1048,Admission Date: [**2166-1-3**] Discharg...,"{'admission': 2, 'date': 3, 'discharge': 5, 'o..."
103303,2592,Admission Date: [**2187-11-8**] ...,"{'admission': 4, 'date': 8, 'discharge': 9, 'o..."
103378,3143,Admission Date: [**2111-6-10**] ...,"{'admission': 4, 'date': 2, 'discharge': 6, 's..."
103682,2743,Admission Date: [**2125-10-6**] Dischar...,"{'admission': 9, 'date': 3, 'discharge': 7, 'o..."
103734,2394,Admission Date: [**2140-9-21**] ...,"{'admission': 2, 'date': 6, 'discharge': 10, '..."
105466,2805,Admission Date: [**2194-6-1**] Discharg...,"{'admission': 9, 'date': 3, 'discharge': 15, '..."
105643,878,Admission Date: [**2131-5-16**] ...,"{'admission': 4, 'date': 7, 'discharge': 6, 'o..."
106019,262,Admission Date: [**2153-9-25**] ...,"{'admission': 5, 'date': 3, 'discharge': 6, 'o..."
106238,2414,Admission Date: [**2186-6-7**] Discharge ...,"{'admission': 2, 'date': 3, 'discharge': 9, 'o..."
106832,2114,Admission Date: [**2149-11-15**] Discha...,"{'admission': 13, 'date': 10, 'discharge': 16,..."
106893,1346,Admission Date: [**2136-2-8**] Discharge ...,"{'admission': 2, 'date': 3, 'discharge': 4, 'o..."
106895,2322,Admission Date: [**2177-9-27**] Dischar...,"{'admission': 9, 'date': 7, 'discharge': 2, 'o..."
107027,948,Admission Date: [**2107-5-26**] Discharge...,"{'admission': 6, 'date': 3, 'discharge': 7, 'o..."
107825,808,Admission Date: [**2181-7-30**] ...,"{'admission': 6, 'date': 6, 'discharge': 6, 'o..."
107952,901,Admission Date: [**2195-2-10**] Discharge...,"{'admission': 3, 'date': 4, 'discharge': 9, 'o..."
108205,361,Admission Date: [**2121-5-10**] ...,"{'admission': 5, 'date': 5, 'discharge': 8, 'o..."
108569,1713,Service: Date: [**...,"{'service': 1, 'date': 2, 'of': 7, 'birth': 1,..."
108638,1606,Admission Date: [**2151-11-13**] ...,"{'admission': 7, 'date': 4, 'discharge': 7, 'o..."
109367,2769,Admission Date: [**2187-10-4**] ...,"{'admission': 3, 'date': 5, 'discharge': 7, 'o..."
109401,2703,Admission Date: [**2189-10-11**] ...,"{'admission': 4, 'date': 5, 'discharge': 7, 'o..."
...,...,...,...
192317,2589,Admission Date: [**2184-1-30**] ...,"{'admission': 5, 'date': 4, 'discharge': 11, '..."
192349,2658,Admission Date: [**2120-7-9**] D...,"{'admission': 7, 'date': 2, 'discharge': 12, '..."
192358,878,Admission Date: [**2137-11-24**] ...,"{'admission': 6, 'date': 3, 'discharge': 11, '..."
192910,1148,Admission Date: [**2163-9-21**] ...,"{'admission': 3, 'date': 3, 'discharge': 8, 'o..."
193058,1604,Admission Date: [**2196-4-23**] Dischar...,"{'admission': 3, 'date': 2, 'discharge': 6, 's..."
193338,532,Admission Date: [**2138-11-27**] ...,"{'admission': 2, 'date': 2, 'discharge': 5, 's..."
193952,1858,Admission Date: [**2131-2-20**] Dischar...,"{'admission': 5, 'date': 3, 'discharge': 7, 'o..."
194013,423,Admission Date: [**2169-6-28**] ...,"{'admission': 4, 'date': 3, 'discharge': 8, 'o..."
194252,2348,Admission Date: [**2195-6-4**] D...,"{'admission': 3, 'date': 6, 'discharge': 11, '..."
194598,2404,Admission Date: [**2106-1-20**] ...,"{'admission': 2, 'date': 3, 'discharge': 6, 'o..."
195124,2732,Admission Date: [**2101-9-7**] Discharg...,"{'admission': 2, 'date': 4, 'discharge': 5, 'o..."
195175,2686,Admission Date: [**2179-8-4**] Discharg...,"{'admission': 7, 'date': 3, 'discharge': 5, 'o..."
195392,346,Admission Date: [**2149-11-29**] ...,"{'admission': 3, 'date': 2, 'discharge': 6, 's..."
195632,123,Admission Date: [**2161-10-29**] Discharg...,"{'admission': 5, 'date': 3, 'discharge': 4, 'o..."
196363,557,Admission Date: [**2198-8-25**] Dischar...,"{'admission': 2, 'date': 2, 'discharge': 3, 's..."
196595,2515,Admission Date: [**2137-7-11**] Discharge...,"{'admission': 4, 'date': 6, 'discharge': 7, 'o..."
196991,3566,Admission Date: [**2149-8-22**] ...,"{'admission': 4, 'date': 3, 'discharge': 6, 'o..."
197129,731,Admission Date: [**2152-4-6**] D...,"{'admission': 2, 'date': 5, 'discharge': 8, 'o..."
197130,808,Admission Date: [**2181-11-16**] ...,"{'admission': 5, 'date': 6, 'discharge': 6, 'o..."
197189,885,Admission Date: [**2162-12-5**] ...,"{'admission': 8, 'date': 6, 'discharge': 10, '..."
197430,246,Admission Date: [**2130-6-1**] D...,"{'admission': 3, 'date': 4, 'discharge': 10, '..."
197438,1571,Admission Date: [**2116-12-5**] ...,"{'admission': 8, 'date': 3, 'discharge': 8, 'o..."
197617,843,Admission Date: [**2150-8-16**] Discharge...,"{'admission': 5, 'date': 3, 'discharge': 2, 'o..."
198231,1935,Admission Date: [**2150-6-1**] D...,"{'admission': 2, 'date': 3, 'discharge': 6, 'o..."
198266,2712,Admission Date: [**2101-2-10**] ...,"{'admission': 9, 'date': 3, 'discharge': 13, '..."
198608,231,Admission Date: [**2176-5-14**] Dischar...,"{'admission': 18, 'date': 12, 'discharge': 32,..."
198612,1606,Admission Date: [**2151-10-19**] ...,"{'admission': 10, 'date': 4, 'discharge': 8, '..."
199018,1488,Admission Date: [**2174-12-18**] Discharg...,"{'admission': 2, 'date': 3, 'discharge': 7, 'o..."
199163,2592,Admission Date: [**2187-7-13**] ...,"{'admission': 5, 'date': 6, 'discharge': 9, 'o..."
199574,2636,Admission Date: [**2109-10-31**] ...,"{'admission': 13, 'date': 5, 'discharge': 11, ..."

In [10]:
# Clip and find all words will be used.
total = dict()

for x in df['bag_of_words']:
    total = merge(total, x)

clean(total)
print(total)

{'admission': 1300, 'date': 1122, 'discharge': 1985, 'of': 8274, 'history': 1791, 'this': 1176, 'is': 2501, 'a': 5645, 'with': 5818, 'status': 699, 'in': 4380, 'to': 8233, 'the': 11866, 'and': 9524, 'he': 2604, 'on': 5677, 'for': 3806, 'an': 1153, 'patient': 4673, 'that': 1190, 'had': 1550, 'well': 632, 'chest': 776, 'pain': 950, 'or': 1595, 'was': 8859, 'have': 855, 'hours': 613, 'as': 2018, 'his': 2005, 'at': 2222, 'time': 796, 'after': 608, 'blood': 1885, 's': 2565, 'by': 1169, 'd': 1274, 'right': 1167, 'medications': 805, 'mg': 3820, 'day': 2110, 'no': 3066, 'first': 851, 'normal': 873, 'are': 671, 'pt': 1015, 'left': 1362, 'hospital': 1726, 'course': 658, 'stable': 698, 'which': 972, 'there': 801, 'ct': 622, 'negative': 652, 'also': 702, 'given': 729, 'care': 657, 'from': 953, 'continued': 666, 'home': 640, 'disease': 679, 'has': 925, 'up': 838, 'be': 1163, 'follow': 605, 'last': 1603, 'name': 3037, 'namepattern': 825, 'p': 1315, 'daily': 1528, 'tablet': 2538, 'o': 1220, 'c': 835, 'one': 1730, 'but': 810, 'not': 978, 'q': 1349, 'h': 727, 'two': 646, 'her': 2055, 'were': 1517, 'times': 700, 'showed': 621, 'x': 605, 'days': 634, 'she': 2529, 'am': 915, 'pm': 966, 'sig': 1442, 'po': 2060, 'you': 631, 'your': 612}

In [11]:
# Join data.
df.drop(columns=['bag_of_words'], inplace=True)
full_data = df.join(df1)

In [12]:
full_data

,SUBJECT_ID,TEXT,HOSPITAL_EXPIRE_FLAG
HADM_ID,,,
100195,2489,Admission Date: [**2143-8-23**] Dischar...,0
100536,78,Admission Date: [**2177-2-14**] Dischar...,0
100677,808,Admission Date: [**2181-7-12**] ...,0
100680,2939,Admission Date: [**2181-10-4**] Discharge...,0
100863,797,Admission Date: [**2139-8-24**] ...,0
101061,1578,Admission Date: [**2139-5-18**] ...,0
102076,1749,Admission Date: [**2133-1-12**] Dischar...,0
102248,3325,Admission Date: [**2159-8-14**] Discharge...,0
102365,878,Admission Date: [**2137-10-7**] ...,0
102486,2378,Admission Date: [**2141-7-18**] ...,0
103089,1048,Admission Date: [**2166-1-3**] Discharg...,0
103303,2592,Admission Date: [**2187-11-8**] ...,0
103378,3143,Admission Date: [**2111-6-10**] ...,1
103682,2743,Admission Date: [**2125-10-6**] Dischar...,0
103734,2394,Admission Date: [**2140-9-21**] ...,0
105466,2805,Admission Date: [**2194-6-1**] Discharg...,0
105643,878,Admission Date: [**2131-5-16**] ...,0
106019,262,Admission Date: [**2153-9-25**] ...,0
106238,2414,Admission Date: [**2186-6-7**] Discharge ...,0
106832,2114,Admission Date: [**2149-11-15**] Discha...,0
106893,1346,Admission Date: [**2136-2-8**] Discharge ...,0
106895,2322,Admission Date: [**2177-9-27**] Dischar...,0
107027,948,Admission Date: [**2107-5-26**] Discharge...,0
107825,808,Admission Date: [**2181-7-30**] ...,0
107952,901,Admission Date: [**2195-2-10**] Discharge...,0
108205,361,Admission Date: [**2121-5-10**] ...,0
108569,1713,Service: Date: [**...,0
108638,1606,Admission Date: [**2151-11-13**] ...,0
109367,2769,Admission Date: [**2187-10-4**] ...,0
109401,2703,Admission Date: [**2189-10-11**] ...,0
...,...,...,...
192317,2589,Admission Date: [**2184-1-30**] ...,0
192349,2658,Admission Date: [**2120-7-9**] D...,0
192358,878,Admission Date: [**2137-11-24**] ...,0
192910,1148,Admission Date: [**2163-9-21**] ...,0
193058,1604,Admission Date: [**2196-4-23**] Dischar...,0
193338,532,Admission Date: [**2138-11-27**] ...,1
193952,1858,Admission Date: [**2131-2-20**] Dischar...,0
194013,423,Admission Date: [**2169-6-28**] ...,0
194252,2348,Admission Date: [**2195-6-4**] D...,0
194598,2404,Admission Date: [**2106-1-20**] ...,0
195124,2732,Admission Date: [**2101-9-7**] Discharg...,0
195175,2686,Admission Date: [**2179-8-4**] Discharg...,0
195392,346,Admission Date: [**2149-11-29**] ...,1
195632,123,Admission Date: [**2161-10-29**] Discharg...,0
196363,557,Admission Date: [**2198-8-25**] Dischar...,0
196595,2515,Admission Date: [**2137-7-11**] Discharge...,0
196991,3566,Admission Date: [**2149-8-22**] ...,0
197129,731,Admission Date: [**2152-4-6**] D...,0
197130,808,Admission Date: [**2181-11-16**] ...,0
197189,885,Admission Date: [**2162-12-5**] ...,0
197430,246,Admission Date: [**2130-6-1**] D...,0
197438,1571,Admission Date: [**2116-12-5**] ...,0
197617,843,Admission Date: [**2150-8-16**] Discharge...,1
198231,1935,Admission Date: [**2150-6-1**] D...,0
198266,2712,Admission Date: [**2101-2-10**] ...,0
198608,231,Admission Date: [**2176-5-14**] Dischar...,0
198612,1606,Admission Date: [**2151-10-19**] ...,0
199018,1488,Admission Date: [**2174-12-18**] Discharg...,0
199163,2592,Admission Date: [**2187-7-13**] ...,0
199574,2636,Admission Date: [**2109-10-31**] ...,0

In [13]:
############################################# Data dispose over. #####################################################
######################################################################################################################

In [14]:
# Create word list.
word_list = list(total.keys())
word_list

['admission',
 'date',
 'discharge',
 'of',
 'history',
 'this',
 'is',
 'a',
 'with',
 'status',
 'in',
 'to',
 'the',
 'and',
 'he',
 'on',
 'for',
 'an',
 'patient',
 'that',
 'had',
 'well',
 'chest',
 'pain',
 'or',
 'was',
 'have',
 'hours',
 'as',
 'his',
 'at',
 'time',
 'after',
 'blood',
 's',
 'by',
 'd',
 'right',
 'medications',
 'mg',
 'day',
 'no',
 'first',
 'normal',
 'are',
 'pt',
 'left',
 'hospital',
 'course',
 'stable',
 'which',
 'there',
 'ct',
 'negative',
 'also',
 'given',
 'care',
 'from',
 'continued',
 'home',
 'disease',
 'has',
 'up',
 'be',
 'follow',
 'last',
 'name',
 'namepattern',
 'p',
 'daily',
 'tablet',
 'o',
 'c',
 'one',
 'but',
 'not',
 'q',
 'h',
 'two',
 'her',
 'were',
 'times',
 'showed',
 'x',
 'days',
 'she',
 'am',
 'pm',
 'sig',
 'po',
 'you',
 'your']

In [15]:
# Create feature and label.
Y = list(full_data['HOSPITAL_EXPIRE_FLAG'])
feature_data = full_data.drop(columns=['HOSPITAL_EXPIRE_FLAG'])
X = np.array(create_RNN_feature(feature_data, word_list))

In [16]:
X.shape

(278, 92, 4119)

In [17]:
X_train = X
y_train = Y

In [18]:
# input shape: (position_len, volc_len)

In [19]:
model = Sequential()

model.add(LSTM(1, input_shape=(X_train.shape[1:]), activation='relu', return_sequences=False))

model.add(Dense(1, input_shape = X.shape[1:]))
model.add(Activation('sigmoid'))

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=3)

WARNING:tensorflow:From /Users/Young/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /Users/Young/anaconda3/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/3
278/278 [==============================] - 9s 31ms/sample - loss: 0.6847 - acc: 0.8957
Epoch 2/3
278/278 [==============================] - 4s 16ms/sample - loss: 0.6746 - acc: 0.8957
Epoch 3/3
278/278 [==============================] - 4s 15ms/sample - loss: 0.6629 - acc: 0.8957